.navbar {

  background-color: rgb(62, 2, 34);
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: fixed;
  justify-content: space-evenly;
  padding: 1rem 0;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

a {
  color: white;
}

a:hover {
  cursor: pointer;
  color: goldenrod;
  transform: scale(1.1);
  transition: all 0.25s ease-in;
}

.highlight {
  color: yellow;
  font-weight: 800;
  transform: scale(1.1);
  transition: all 0.25s ease-in;
}